body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 40px;
    background-color: #b9b9b9;
}

header {
    text-align: center;
}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

section {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.educacao, .experiencia {
    margin-bottom: 20px;
}

.educacao h2, .experiencia h2 {
    margin-bottom: 10px;
}

.habs {
    margin-top: 20px;
}

.habs h2 {
    margin-bottom: 10px;
}

.contato {
    margin-top: 40px;
    border-top: 2px solid #999;
    padding-top: 20px;
}

.contato p {
    margin: 5px 0;
}
.profile-image {
    position: absolute;
    top: 70px;
    left: 300px;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
} 